<div class="load">
    <div id="loader"></div>
</div>

<section class="home hide">
    <h3>Home</h3>
</section>

<script>
    validateLogin();

    document.addEventListener("DOMContentLoaded", () => {
        setTimeout(() => {
            document.querySelector('.load').classList.add('hide');
            document.querySelector('.home').classList.remove('hide');
        }, 1000)
    });
</script>